[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
numpy = "*"
matplotlib = "*"
appdaemon = "*"
tensorflow = "==2.11"
hassapi = "*"

[dev-packages]
pre-commit = "*"
buildtools = "*"
build = "*"
isort = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
